.card-container{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin-top: 40px;
    flex-wrap: wrap;
}
.card{
    width: 200px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 10px;
    text-align: center;
    transition: transform 0.2s;
    background-color: #fff;
}
.card:hover{
    transform: scale(1.05);
}
.card-image{
    width: 100%;
    border-radius: 10px;
}
.card-title{
    font-size: 10px;
    margin: 18px 0 5px;
}
.card-description{
    font-size: 14px;
    color: #555;
}